/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif; */
* {
  margin: 0;
  padding: 0;
}
.gap {
  padding-left: 75px;
  padding-right: 65px;
}

nav {
  height: 45px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.logo img {
  width: 114px;
}

.menu {
  list-style-type: none;
  display: flex;
  margin-left: 60px;
  align-items: center;
  margin-top: 2.5vh;
}

.menu a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #212832;
  font-size: 17px;
  margin-left: 32px;
}

.select {
  margin-left: 32px;
  margin-top: 3px;
  width: 43px;
  height: 22px;
  border: none;
  background-color: #fff5e4;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.btn-outline-secondary {
  border: 1px solid #212832;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  margin-left: 10px;
  background-color: #fff5e4;
  margin-left: 20px;
  color: #212832;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.decore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 872px;
  width: 766px;
}
/* navigation section ends here */

/* hero content section starts from here */
.hero {
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 320px;
  width: 710px;
  height: 700px;
}

.desc {
  position: absolute;
  height: 535px;
  width: 450px;
  top: 250px;
  left: 70px;
}
.sub-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #df6951;
  height: 30px;
  width: 410px;
}
.heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 60px;
  width: 500px;
  height: 267px;
  color: #181e4b;
}
.text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5e6282;
  height: 90px;
  width: 400px;
}

.warning {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  height: 45px;
  width: 130px;
  border: none;
  background-color: #ffc23c;
  color: white;
  border-radius: 10px;
}

.cta {
  display: flex;
  margin-top: 40px;
}
.bi-play {
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 11px;
}
.play {
  margin-top: 10px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
/* category section starts from here */
.section {
  height: 500px;
  width: 300px;
  background-color: red;
}

/*  */
